# local package
-e .

# external requirements
#This is for necessary analysis dependence
numpy
geopy
matplotlib
plotly
pandas 
sklearn
click
Sphinx
coverage
awscli
flake8
gmaps
squarify
unittest
python-dotenv>=0.5.1
